<h1 class="title is-hidden-mobile">
    &nbsp;
    <!-- lazy way to add a bit of space on top-->
</h1>
<div class="card">
    <div class="card-image">
        <figure class="image is-1by1" style='
            background-image: url("{{ .Site.Data.MAC.aboutMe.profile.avatar.link }}");
            background-size: cover;
            background-position: center center;'>
        </figure>
    </div>
    <div class="card-content">
        <div class="media">
            <div class="media-content">
                <div class="title is-4">
                    <span class="has-text-weight-light">{{ .Site.Data.MAC.aboutMe.profile.name }}</span>
                    <span class="has-text-weight-semibold">{{ .Site.Data.MAC.aboutMe.profile.surnames }}</span>
                </div>
                <p class="subtitle is-5">
                    {{ .Site.Data.MAC.aboutMe.profile.title }}
                </p>
            </div>
        </div>
        <div class="media">
            <div class="media-content">
                <div class="title is-6">
                    Technologies and tools
                </div>
                <div class="tags">
                    {{ range .Site.Data.MAC.knowledge.hardSkills }}
                    <div class="tag is-rounded is-primary">{{.skill.name}}</div>
                    {{ end }}
                </div>
            </div>
        </div>
        <div class="media">
            <div class="media-content">
                <div class="title is-6">
                    Languages
                </div>
                <div class="tags">
                    {{ range .Site.Data.MAC.knowledge.languages }}
                    <div class="tag is-rounded is-primary">{{.name}}</div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</div>
