<h1 class="title">Experience</h1>
<div class="box">
    {{ range .Site.Data.MAC.experience.jobs }}
        <div class="media">
            <div class="media-left">
                <a href="{{ .organization.URL }}" target="_blank">
                    <figure class="image is-3by2" style='
                        background-image: url("{{ .organization.image.link }}");
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: center top;
                        width: 10rem;'>
                    </figure>
                </a>
            </div>
            <div class="media-content">
                <div class="content">
                    <div class="title is-6">
                        {{ (index .roles 0).name }}
                    </div>
                    <div class="subtitle is-6">
                        <a href="{{ .organization.URL }}" target="_blank">{{ .organization.name }}</a>
                        -
                        {{ with index .roles 0 }}
                            <small>
                                {{ .startDate }} - 
                                {{ if not .finishDate }}
                                    Present
                                {{else}}
                                    {{.finishDate}}
                                {{end}}
                            </small>
                        {{ end }}
                    </div>
                </div>
                <div class="content">
                    {{ with index .roles 0 }}
                        {{ replace (index .challenges 0).description "\n" "<br/>" | safeHTML }}
                    {{ end }}
                </div>
            </div>
        </div>
    {{ end }}
</div>
