<h1 class="title">Links of interest</h1>
<div class="box">
    {{ range .Site.Data.MAC.aboutMe.recommendations }}
        <div class="media">
            <div class="media-content">
                <div class="content">
                    <div class="title is-6">
                        <a href="{{ .URL }}" target="_blank" class="has-text-link" aria-label="website">
                            {{ .title }}
                            <span class="icon">
                                <i class="mdi mdi-web" aria-hidden="true"></i>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="content">
                    {{ .summary }}
                </div>
            </div>
        </div>
    {{ end }}
</div>
